.transactions {
    table td {
        font-size: 13px;
        vertical-align: top;
    }

    &__wrapper {
        $offset: var(--offset, 0px);
        max-height: calc(100vh - $offset - 50px);
        min-height: 300px;
        overflow: hidden;
        overflow-y: auto;
    }
}
